<header>
  <div class="header-logo">
    <h1>
      <a href="https://concent-market.com/">
        <img
          ngSrc="/assets/logo.jpeg"
          alt="コンセントマーケット"
          width="770"
          height="212"
          priority
          decoding="async"
          ngSrcset="100w, 200w, 300w"
        />
      </a>
    </h1>
  </div>
  <ul></ul>
</header>

<main>
  <section class="section-width">
    <h2>{{ messages().shukigawa.title }}</h2>
    <div [innerHTML]="messages().shukigawa.lead | toParagraph"></div>
    <ul class="scroll-images">
      @for (image of messages().shukigawa.images; track image.path) {
        <li>
          <img
            [ngSrc]="image.resize['1280'].path"
            [width]="image.resize['1280'].width"
            [height]="image.resize['1280'].height"
            alt=""
            decoding="async"
          />
        </li>
      }
    </ul>
    <div [innerHTML]="messages().shukigawa.message | toParagraph"></div>
  </section>

  <section id="shukugawa" class="store shukugawa">
    <div class="section-width area">
      <h2>勤務地</h2>
      <div class="shop-information">
        <div>
          <h3>コンセントマーケット 夙川本店</h3>
          <ul class="address">
            <li>
              <ion-icon name="call-outline"></ion-icon><span>電話　<a href="tel:0798-23-0707">0798-23-0707</a></span>
            </li>
            <li><ion-icon name="time-outline"></ion-icon><span>営業時間　9:00〜18:00</span></li>
            <li><ion-icon name="lock-closed-outline"></ion-icon><span>定休日　月曜・火曜</span></li>
            <li>
              <ion-icon name="map-outline"></ion-icon
              ><span>〒662-0047　兵庫県西宮市寿町5-15（阪急「夙川」駅から徒歩3分）</span>
            </li>
            <li>
              <ion-icon name="bag-outline"></ion-icon>
              <span>テイクアウト専門店</span>
            </li>
            <li>
              <ion-icon name="bookmark-outline"></ion-icon>
              <span>2010年3月15日オープン</span>
            </li>
          </ul>
          <ul class="sns-buttons">
            <li>
              <a href="https://www.instagram.com/concentmarket/" class="instagram" target="_blank"
                ><ion-icon name="logo-instagram"></ion-icon><span>concentmarket</span></a
              >
            </li>
            <li>
              <a href="https://www.facebook.com/profile.php?id=100064530558997&fref=ts" class="facebook" target="_blank"
                ><ion-icon name="logo-facebook"></ion-icon><span>コンセントマーケット</span></a
              >
            </li>
          </ul>
        </div>
        <div>
          <h3>コンセントマーケット to table 宝塚店</h3>
          <ul class="address">
            <li>
              <ion-icon name="call-outline"></ion-icon><span>電話　<a href="tel:0797-85-0208">0797-85-0208</a></span>
            </li>
            <li><ion-icon name="time-outline"></ion-icon><span>営業時間　9:00〜18:00</span></li>
            <li><ion-icon name="lock-closed-outline"></ion-icon><span>定休日　月曜・火曜</span></li>
            <li>
              <ion-icon name="map-outline"></ion-icon
              ><span>〒665-0844　兵庫県宝塚市武庫川町4-10（阪急「宝塚」駅から徒歩12分、JR「宝塚」駅から徒歩12分）</span>
            </li>
            <li>
              <ion-icon name="bag-outline"></ion-icon>
              <span>テイクアウト・店内飲食</span>
            </li>
            <li>
              <ion-icon name="bookmark-outline"></ion-icon>
              <span>2021年10月1日オープン</span>
            </li>
          </ul>
          <ul class="sns-buttons">
            <li>
              <a class="instagram" href="https://www.instagram.com/concent.takarazuka/" target="_blank"
                ><ion-icon name="logo-instagram"></ion-icon><span>concent.takarazuka</span></a
              >
            </li>
            <li>
              <a class="facebook" href="https://www.facebook.com/profile.php?id=100064530558997&fref=ts" target="_blank"
                ><ion-icon name="logo-facebook"></ion-icon><span>コンセントマーケット</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="recruit" class="section-width recruit">
    <h2>求人情報</h2>
    <div [innerHTML]="recruit().message | toParagraph"></div>

    @for (item of recruit().messages; track item.title; let i = $index) {
      <h3>{{ item.title }}</h3>
      <div [innerHTML]="item.message | toParagraph"></div>
    }

    <h3>キャリアのステップ</h3>
    @for (step of recruit().steps; track step; let i = $index) {
      <h4>ステップ{{ i + 1 }}</h4>
      <div [innerHTML]="step | toParagraph"></div>
    }

    <ul class="scroll-images">
      @for (image of recruitPaths(); track image.path) {
        <li>
          <img
            [ngSrc]="image.resize['1280'].path"
            [width]="image.resize['1280'].width"
            [height]="image.resize['1280'].height"
            alt=""
            loading="lazy"
            decoding="async"
          />
        </li>
      }
    </ul>

    @for (recruit of recruit().recruit; track recruit.type) {
      <h3>{{ recruit.type }}</h3>
      <table>
        <tbody>
          @for (item of recruit.items; track item.key) {
            <tr>
              <th style="vertical-align: top">{{ item.key }}</th>
              <td [innerText]="item.value"></td>
            </tr>
          }
        </tbody>
      </table>
    }
  </section>
</main>

<footer>
  <div class="dark">
    <section class="section-width">
      <div class="copy-right">
        <h2>CONCENT MARKET</h2>
        <table>
          <tbody>
            <tr>
              <th>運営会社</th>
              <td>株式会社Ｓａｕｄｅ</td>
            </tr>
            <tr>
              <th>代表者名</th>
              <td>岩井 直人</td>
            </tr>
            <tr>
              <th>本店の所在地</th>
              <td>兵庫県西宮市寿町５番１５号</td>
            </tr>
            <tr>
              <th>登録番号</th>
              <td>
                T4140001074356（<a
                  href="https://www.invoice-kohyo.nta.go.jp/regno-search/detail?selRegNo=4140001074356"
                  target="_blank"
                  >適格請求書事業者公開サイト</a
                >）
              </td>
            </tr>
            <tr>
              <th>電話</th>
              <td><a href="tel:0798-23-0707">0798-23-0707</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
  <section id="contact" class="section-width contact">
    <h2>お問い合わせ</h2>
    @if (isSend()) {
      <p>問い合わせの送信が完了しました。</p>
      <p>
        お申し出に対しては順次対応させていただいておりますが、受付時間外に送信いただいたものや、内容によりましてはお返事にお時間を頂戴する場合がございます。また、ご入力いただいたEメールアドレスや電話番号が誤っている場合やシステム障害が発生した場合等には回答ができない場合がございます。一週間以上経っても回答未着の場合、お手数ですが再度お問い合わせいただけると幸いです。
      </p>

      <p class="text-center">
        <button (click)="isSend.set(false)" class="submitButton" aria-label="別のメッセージを送信する">
          別のメッセージを送信する
        </button>
      </p>
    } @else {
      <ul>
        @for (item of contact(); track item) {
          <li>{{ item }}</li>
        }
      </ul>
      <form #f="ngForm" (ngSubmit)="send()">
        <div class="form-line">
          <label for="name"><span class="form-label required">必須</span>お名前</label>
          <input
            id="name"
            type="text"
            name="name"
            [(ngModel)]="contactModel.name"
            required
            placeholder="例）山田太郎"
          />
        </div>
        <div class="form-line">
          <label for="mail"><span class="form-label required">必須</span>メールアドレス（半角）</label>
          <input
            id="mail"
            name="email"
            [(ngModel)]="contactModel.email"
            type="text"
            inputMode="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            required
            placeholder="例）info@example.com"
          />
        </div>

        <div class="form-line">
          <label for="tel">お電話番号（半角）</label>
          <input
            id="tel"
            type="text"
            name="tel"
            [(ngModel)]="contactModel.tel"
            placeholder="例）09012345678"
            inputMode="tel"
            pattern="\d{2,4}-?\d{3,4}-?\d{3,4}"
          />
        </div>

        <div class="form-line">
          <label for="message"><span class="form-label required">必須</span>メッセージ</label>
          <textarea
            id="message"
            name="message"
            [(ngModel)]="contactModel.message"
            rows="5"
            required
            placeholder="お問い合わせ内容をご記入ください。"
          ></textarea>
        </div>
        <p class="text-center">
          <button type="submit" class="submitButton" [disabled]="f.form.invalid" aria-label="問い合わせ送信">
            問い合わせ送信
          </button>
        </p>
      </form>
    }
  </section>
</footer>
