header {
  max-width: 1024px;
  margin: auto;
  padding: 16px 0 0;

  .header-logo {
    display: flex;
    justify-content: space-between;
  }
  h1 {
    a {
      display: inline-block;
    }
    img {
      width: 120px;
      height: auto;
      margin-left: 16px;
    }
  }
  .store-link {
    align-self: center;
    margin: 16px 0 0 0;
    padding: 4px 8px;
    border: 2px solid #000000;
    display: flex;
    text-decoration: none;
    &:hover {
      border: 2px solid #8f5e49;
      span {
        color: #8f5e49;
      }
    }

    @media screen and (max-width: 1024px) {
      margin-right: 16px;
    }

    @media screen and (max-width: 800px) {
      margin-right: 8px;
      border: none;
      span {
        color: #8f5e49;
      }
      &:hover {
        border: none;
        span {
          color: #8f5e49;
        }
      }
    }

    img {
      width: 20px;
      height: auto;
      margin-right: 8px;
    }
    span {
      color: #000000;
      margin-top: 1px;
    }
  }
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    border-top: 2px solid #333333;
    li {
      a {
        padding: 16px 16px;
        display: block;
        text-decoration: none;
        ion-icon {
          margin-right: 8px;
          position: relative;
          top: 2px;
          color: #999999;
        }
        &:hover {
          background-color: #333333;
          color: #ffffff;
        }
      }
    }

    @media screen and (max-width: 800px) {
      flex-wrap: wrap;
      li {
        width: 50%;
        margin: 0;
        text-align: center;
        border-bottom: 2px solid #333333;

        &:nth-child(odd) {
          border-right: 2px solid #333333;
        }

        a {
          &:hover {
            background-color: #333333;
            color: #ffffff;
          }
        }
      }
    }
  }
}
