<header>
  <h1>
    <img ngSrc="assets/images/logo.jpeg" alt="コンセントマーケット" width="770" height="212" priority decoding="async">
  </h1>
  <ul>
    <li><a href="#shukugawa"><ion-icon name="caret-down-outline"></ion-icon>夙川本店</a></li>
    <li><a href="#takarazuka"><ion-icon name="caret-down-outline"></ion-icon>宝塚店 to table</a></li>
    <li><a href="#contact"><ion-icon name="caret-down-outline"></ion-icon>お問い合わせ</a></li>
    <li><a href="#recruit"><ion-icon name="caret-down-outline"></ion-icon>求人情報</a></li>
  </ul>
</header>

<main>
  <section class="section-hero">
    <img [ngSrc]="heroImagePath()" alt="" width="2400" height="1600" priority decoding="async">
    <ul>
      <li><button (click)="changeHeroImage('/assets/images/IMG_9691.JPG')"><img ngSrc="/assets/images/IMG_9691.JPG" alt="" width="2400" height="1600" priority decoding="async"></button></li>
    </ul>
  </section>

  <section class="section-width">
    <h2>コミュニケーションするパン</h2>
    <p>コミュニケーションとは「分かち合う」というスペイン語が語源。</p>
    <p>私たちの経験、つながりからできる精一杯の 気持ちを、「美味しい笑顔」と共に、皆さまと分かち合いたい。 その笑顔は、一つのパン、そして食卓、家庭や私たちの住む町までを、同心円（コンセント）でつなげていく。</p>
    <p>そのコミュニケーションの真ん中に、「私たちの手のひらから生まれるパン」があることに想いを馳せながら、 今日もパンを焼いていきます。</p>

    <p>「何のためにより良いパンを作ろうとしているのか？」 ということを改めて考えてみました。</p>
    <p>ただ美味しいパンを作りたい。人を笑顔にしたい。。。 という思いだけで、自分でも驚くほどコツコツと 30年日々失敗と改善を重ねてきたことに気付きました。</p>
    <p>パンは育てて作るもの。自分の作るパンは、自分そのもの。 いつまでもその時々で最大限のものを生み出し、出会いを求め、 新たな創造を求める場所（店）にしていきたいと考えています。</p>
  </section>

  <section id="shukugawa" class="store shukugawa">
    <div class="section-width area">

      <ul class="sns-buttons">
        <li><a href="https://www.instagram.com/concentmarket/" class="instagram" target="_blank"><ion-icon name="logo-instagram"></ion-icon><span>concentmarket</span></a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100064530558997&fref=ts" class="facebook" target="_blank"><ion-icon name="logo-facebook"></ion-icon><span>コンセントマーケット</span></a></li>
      </ul>

      <h2>夙川本店</h2>

      <p>日頃からこんな小さいお店にお越しいただきありがとうございます。</p>
      <p>いつもお客さまを目の前にして 「このパンをどんなシチュエーションで どうやって食べてくれているんだろうか。」 と想像することが好きです。</p>
      <p>お客さまがSNSで当店をタグ付けしてくださって いるのをいつも楽しく拝見しています。 その中でよく目にするものに、 「明日の朝が楽しみ！」とか「週末のご褒美」とか 「これで1週間仕事乗り切れる」なんてのもあります。</p>

      <p>オープン当初はそんなこと全く考えていなくて「地域の方々にさりげなく寄り添えればいいな」と理想を掲げていました。いつの間にかそれを越えて、楽しみにしてくださってる方にこんなにもたくさん囲まれています。この感謝をどんな風に返していけるだろうかと思います。様々なことが不安定な世の中ですが、「食べる」ことで明日への活力になれるように。毎日の食卓で喜んでいただけるようみんなで考えて進んでいきます。変わらずのご愛顧をよろしくお願いします。</p>

      <div class="shop-information">
        <address>
          <ul>
            <li>〒662-0047　兵庫県西宮市寿町5-15</li>
            <li><ion-icon name="call-outline"></ion-icon>電話　<a href="tel:0798-23-0707">0798-23-0707</a></li>
            <li><ion-icon name="time-outline"></ion-icon>営業時間　9:00〜18:00</li>
            <li><ion-icon name="lock-closed-outline"></ion-icon>定休日 月曜・火曜</li>
            <li><ion-icon name="map-outline"></ion-icon>アクセス　阪急「夙川」駅から徒歩3分</li>
          </ul>
        </address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13114.252391262242!2d135.3288101!3d34.7414056!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000f2fb6a4259ed%3A0xe57628dbee364609!2z44Kz44Oz44K744Oz44OI44Oe44O844Kx44OD44OI!5e0!3m2!1sja!2sjp!4v1710407573744!5m2!1sja!2sjp" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>


  <section class="section-width padding">
    <h2>さらに「コミュニケーションするパン」</h2>
    <p>[なぜ宝塚店 to tableをつくったのかの経緯を書いてください]</p>
  </section>

  <section id="takarazuka" class="store takarazuka">
    <div class="section-width area">

      <ul class="sns-buttons">
        <li><a class="instagram" href="https://www.instagram.com/concent.takarazuka/" target="_blank"><ion-icon name="logo-instagram"></ion-icon><span>concent.takarazuka</span></a></li>
        <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100064530558997&fref=ts" target="_blank"><ion-icon name="logo-facebook"></ion-icon><span>コンセントマーケット</span></a></li>
      </ul>
      
      <h2>宝塚店 to table</h2>

      <p>日頃からこんな小さいお店にお越しいただきありがとうございます。</p>
      <p>いつもお客さまを目の前にして 「このパンをどんなシチュエーションで どうやって食べてくれているんだろうか。」 と想像することが好きです。</p>
      <p>お客さまがSNSで当店をタグ付けしてくださって いるのをいつも楽しく拝見しています。 その中でよく目にするものに、 「明日の朝が楽しみ！」とか「週末のご褒美」とか 「これで1週間仕事乗り切れる」なんてのもあります。</p>

      <p>オープン当初はそんなこと全く考えていなくて「地域の方々にさりげなく寄り添えればいいな」と理想を掲げていました。いつの間にかそれを越えて、楽しみにしてくださってる方にこんなにもたくさん囲まれています。この感謝をどんな風に返していけるだろうかと思います。様々なことが不安定な世の中ですが、「食べる」ことで明日への活力になれるように。毎日の食卓で喜んでいただけるようみんなで考えて進んでいきます。変わらずのご愛顧をよろしくお願いします。</p>

      <div class="shop-information">
        <address>
          <ul>
            <li>〒665-0844　兵庫県宝塚市武庫川町4-10</li>
            <li><ion-icon name="call-outline"></ion-icon>電話　<a href="tel:0797-85-0208">0797-85-0208</a></li>
            <li><ion-icon name="time-outline"></ion-icon>営業時間　9:00〜18:00</li>
            <li><ion-icon name="lock-closed-outline"></ion-icon>定休日 月曜・火曜</li>
            <li><ion-icon name="map-outline"></ion-icon>アクセス　阪急「宝塚」駅から徒歩12分、JR「宝塚」駅から徒歩12分</li>
          </ul>
        </address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104919.25469287252!2d135.25545268922568!3d34.73728247055225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000f5368e8f67a7%3A0xf019104b7994a4aa!2sCONCENT%20MARKET%20to%20table!5e0!3m2!1sja!2sjp!4v1710408385243!5m2!1sja!2sjp" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>

  <section id="contact" class="section-width padding">
    <h2>お問い合わせ</h2>
    <ul>
      <li>夙川本店、宝塚店 to tableへのお問い合わせはどちらもこちらのフォームから受け付けております。</li>
      <li>お申し出に対しては順次対応させていただいておりますが、受付時間外に送信いただいたものや、内容によりましてはお返事にお時間を頂戴する場合がございます。</li>
      <li>ご入力いただいたEメールアドレスや電話番号が誤っている場合やシステム障害が発生した場合等には回答ができない場合がございます。一週間以上経っても回答未着の場合、お手数ですがお電話ください。</li>
    </ul>
    <form>
    <div class="form-line">
      <label for="name"><span class="form-label required">必須</span>お名前</label>
      <input id="name" type="text" name="お名前" required placeholder="例）山田太郎">
    </div>
    <div class="form-line">
      <label for="mail"><span class="form-label required">必須</span>メールアドレス（半角）</label>
      <input
        id="mail"
        type="text"
        inputMode="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        required
        placeholder="例）info@example.com"
      />
    </div>

    <div class="form-line">
      <label for="tel">お電話番号（半角）</label>
      <input
        id="tel"
        type="text"
        name="電話番号"
        placeholder="例）09012345678"
        inputMode="tel"
        pattern="\d{2,4}-?\d{3,4}-?\d{3,4}"
      />
    </div>

    <div class="form-line">
      <label for="message"><span class="form-label required">必須</span>メッセージ</label>
      <textarea
        id="message"
        rows="5"
        required
        placeholder="※ご予約は、電話または予約サイトより承ります。"
      ></textarea>
    </div>
    <p class="text-center">
      <button type="submit" class="submitButton">問い合わせ送信</button>
    </p>
    </form>
  </section>
</main>

<footer>

</footer>
