<header>
  <h1>
    <a href="http://localhost:4200/">
      <img
        ngSrc="../assets/logo.jpeg"
        alt="コンセントマーケット"
        width="770"
        height="212"
        priority
        decoding="async"
        ngSrcset="100w, 200w, 300w"
      />
    </a>
  </h1>
  <ul>
    <li>
      <a href="#shukugawa"><ion-icon name="caret-down-outline"></ion-icon>夙川本店</a>
    </li>
    <li>
      <a href="#takarazuka"><ion-icon name="caret-down-outline"></ion-icon>宝塚店 to table</a>
    </li>
    <li>
      <a href="#contact"><ion-icon name="caret-down-outline"></ion-icon>お問い合わせ</a>
    </li>
    <li>
      <a href="#recruit"><ion-icon name="caret-down-outline"></ion-icon>求人情報</a>
    </li>
  </ul>
</header>

<main>
  <section class="section-hero">
    <img
      [ngSrc]="heroImagePath().path"
      [width]="heroImagePath().width"
      [height]="heroImagePath().height"
      alt=""
      decoding="async"
      priority
    />
    <ul>
      @for (image of heroImagePaths(); track image.path) {
        @if (image !== heroImagePath()) {
          <li>
            <button (click)="changeHeroImage(image)" aria-label="画像の切り替え">
              <img
                [ngSrc]="image.path"
                [width]="image.width"
                [height]="image.height"
                alt=""
                decoding="async"
                priority
              />
            </button>
          </li>
        }
      }
    </ul>
  </section>

  <section class="section-width">
    <h2>{{ messages().shukigawa.title }}</h2>
    <div [innerHTML]="messages().shukigawa.lead | toParagraph"></div>
    <ul class="scroll-images">
      @for (image of messages().shukigawa.images; track image.path) {
        <li><img [ngSrc]="image.path" [width]="image.width" [height]="image.height" alt="" decoding="async" /></li>
      }
    </ul>
  </section>

  <section id="shukugawa" class="store shukugawa">
    <div class="section-width area">
      <ul class="sns-buttons">
        <li>
          <a href="https://www.instagram.com/concentmarket/" class="instagram" target="_blank"
            ><ion-icon name="logo-instagram"></ion-icon><span>concentmarket</span></a
          >
        </li>
        <li>
          <a href="https://www.facebook.com/profile.php?id=100064530558997&fref=ts" class="facebook" target="_blank"
            ><ion-icon name="logo-facebook"></ion-icon><span>コンセントマーケット</span></a
          >
        </li>
      </ul>

      <h2>コンセントマーケット 夙川本店</h2>
      <div [innerHTML]="messages().shukigawa.message | toParagraph"></div>

      <div class="shop-information">
        <address>
          <ul>
            <li>
              <ion-icon name="call-outline"></ion-icon><span>電話　<a href="tel:0798-23-0707">0798-23-0707</a></span>
            </li>
            <li><ion-icon name="time-outline"></ion-icon><span>営業時間　9:00〜18:00</span></li>
            <li><ion-icon name="lock-closed-outline"></ion-icon><span>定休日 月曜・火曜</span></li>
            <li>
              <ion-icon name="map-outline"></ion-icon
              ><span>住所　〒662-0047　兵庫県西宮市寿町5-15（阪急「夙川」駅から徒歩3分）</span>
            </li>
            <li>
              <ion-icon name="bag-outline"></ion-icon>
              <span>テイクアウト専門店</span>
            </li>
          </ul>
        </address>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13114.252391262242!2d135.3288101!3d34.7414056!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000f2fb6a4259ed%3A0xe57628dbee364609!2z44Kz44Oz44K744Oz44OI44Oe44O844Kx44OD44OI!5e0!3m2!1sja!2sjp!4v1710407573744!5m2!1sja!2sjp"
          width="100%"
          height="200"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </section>

  <section class="section-width">
    <h2>{{ messages().takarazuka.title }}</h2>
    <div [innerHTML]="messages().takarazuka.lead | toParagraph"></div>
    <ul class="scroll-images">
      @for (image of messages().takarazuka.images; track image.path) {
        <li><img [ngSrc]="image.path" [width]="image.width" [height]="image.height" alt="" decoding="async" /></li>
      }
    </ul>
  </section>

  <section id="takarazuka" class="store takarazuka">
    <div class="section-width area">
      <ul class="sns-buttons">
        <li>
          <a class="instagram" href="https://www.instagram.com/concent.takarazuka/" target="_blank"
            ><ion-icon name="logo-instagram"></ion-icon><span>concent.takarazuka</span></a
          >
        </li>
        <li>
          <a class="facebook" href="https://www.facebook.com/profile.php?id=100064530558997&fref=ts" target="_blank"
            ><ion-icon name="logo-facebook"></ion-icon><span>コンセントマーケット</span></a
          >
        </li>
      </ul>

      <h2>コンセントマーケット 宝塚店 to table</h2>

      <div [innerHTML]="messages().takarazuka.message | toParagraph"></div>

      <div class="shop-information">
        <address>
          <ul>
            <li>
              <ion-icon name="call-outline"></ion-icon><span>電話　<a href="tel:0797-85-0208">0797-85-0208</a></span>
            </li>
            <li><ion-icon name="time-outline"></ion-icon><span>営業時間　9:00〜18:00</span></li>
            <li><ion-icon name="lock-closed-outline"></ion-icon><span>定休日 月曜・火曜</span></li>
            <li>
              <ion-icon name="map-outline"></ion-icon
              ><span
                >住所　〒665-0844　兵庫県宝塚市武庫川町4-10（阪急「宝塚」駅から徒歩12分、JR「宝塚」駅から徒歩12分）</span
              >
            </li>
            <li>
              <ion-icon name="bag-outline"></ion-icon>
              <span>テイクアウト・店内飲食</span>
            </li>
          </ul>
        </address>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104919.25469287252!2d135.25545268922568!3d34.73728247055225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000f5368e8f67a7%3A0xf019104b7994a4aa!2sCONCENT%20MARKET%20to%20table!5e0!3m2!1sja!2sjp!4v1710408385243!5m2!1sja!2sjp"
          width="100%"
          height="200"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </section>

  <section id="contact" class="section-width contact">
    <h2>お問い合わせ</h2>
    @if (isSend()) {
      <p>問い合わせの送信が完了しました。</p>
      <p>
        お申し出に対しては順次対応させていただいておりますが、受付時間外に送信いただいたものや、内容によりましてはお返事にお時間を頂戴する場合がございます。また、ご入力いただいたEメールアドレスや電話番号が誤っている場合やシステム障害が発生した場合等には回答ができない場合がございます。一週間以上経っても回答未着の場合、お手数ですが再度お問い合わせいただけると幸いです。
      </p>

      <p class="text-center">
        <button (click)="isSend.set(false)" class="submitButton" aria-label="別のメッセージを送信する">
          別のメッセージを送信する
        </button>
      </p>
    } @else {
      <ul>
        <li>夙川本店、宝塚店 to tableへのお問い合わせはどちらもこちらのフォームから受け付けております。</li>
        <li>
          お申し出に対しては順次対応させていただいておりますが、受付時間外に送信いただいたものや、内容によりましてはお返事にお時間を頂戴する場合がございます。
        </li>
        <li>
          ご入力いただいたEメールアドレスや電話番号が誤っている場合やシステム障害が発生した場合等には回答ができない場合がございます。一週間以上経っても回答未着の場合、お手数ですがお電話ください。
        </li>
      </ul>
      <form #f="ngForm" (ngSubmit)="send()">
        <div class="form-line">
          <label for="name"><span class="form-label required">必須</span>お名前</label>
          <input
            id="name"
            type="text"
            name="name"
            [(ngModel)]="contactModel.name"
            required
            placeholder="例）山田太郎"
          />
        </div>
        <div class="form-line">
          <label for="mail"><span class="form-label required">必須</span>メールアドレス（半角）</label>
          <input
            id="mail"
            name="email"
            [(ngModel)]="contactModel.email"
            type="text"
            inputMode="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            required
            placeholder="例）info@example.com"
          />
        </div>

        <div class="form-line">
          <label for="tel">お電話番号（半角）</label>
          <input
            id="tel"
            type="text"
            name="tel"
            [(ngModel)]="contactModel.tel"
            placeholder="例）09012345678"
            inputMode="tel"
            pattern="\d{2,4}-?\d{3,4}-?\d{3,4}"
          />
        </div>

        <div class="form-line">
          <label for="message"><span class="form-label required">必須</span>メッセージ</label>
          <textarea
            id="message"
            name="message"
            [(ngModel)]="contactModel.message"
            rows="5"
            required
            placeholder="お問い合わせ内容をご記入ください。"
          ></textarea>
        </div>
        <p class="text-center">
          <button type="submit" class="submitButton" [disabled]="f.form.invalid" aria-label="問い合わせ送信">
            問い合わせ送信
          </button>
        </p>
      </form>
    }
  </section>
</main>

<footer>
  <div class="dark">
    <section class="section-width">
      <div class="copy-right">
        <h2>CONCENT MARKET</h2>
        <table>
          <tbody>
            <tr>
              <th>運営会社</th>
              <td>株式会社Ｓａｕｄｅ</td>
            </tr>
            <tr>
              <th>代表者名</th>
              <td>岩井 直人</td>
            </tr>
            <tr>
              <th>本店の所在地</th>
              <td>兵庫県西宮市寿町５番１５号</td>
            </tr>
            <tr>
              <th>電話</th>
              <td><a href="tel:0798-23-0707">0798-23-0707</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
  <section id="recruit" class="section-width recruit">
    <h2>求人情報</h2>
    <div [innerHTML]="recruit().message | toParagraph"></div>

    <ul class="scroll-images">
      @for (image of recruitPaths(); track image.path) {
        <li><img [ngSrc]="image.path" [width]="image.width" [height]="image.height" alt="" decoding="async" /></li>
      }
    </ul>

    @for (recruit of recruit().recruit; track recruit.type) {
      <h3>{{ recruit.type }}</h3>
      <table>
        <tbody>
          @for (item of recruit.items; track item.key) {
            <tr>
              <th>{{ item.key }}</th>
              <td>{{ item.value }}</td>
            </tr>
          }
        </tbody>
      </table>
    }
  </section>
</footer>
