footer {
  .dark {
    background: #333333;
    div.copy-right {
      color: #ffffff;
      padding-bottom: 16px;
    }
  }
  table {
    th {
      font-weight: normal;
      text-align: right;
      padding-right: 16px;
      min-width: 100px;
    }
  }
}
