.text-center {
  text-align: center;
}

ul.sns-buttons  {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 16px 0 0;
  padding: 0;

  li {
    margin: 0 8px 8px 0;
    padding: 0;

    a {
      display: block;
      text-align: center;
      padding: 4px 8px;
      text-decoration: none;
      border-radius: 8px;
      background-color: #333333;
      color: #ffffff;
      font-size: 0.8rem;

      &:hover {
        opacity: 0.8;
      }

      &.instagram {
        background: linear-gradient(to right,
          rgba(247, 207, 0, 1),
          rgba(246, 37, 2, 0.8) 45%,
          rgba(182, 47, 82, 0.8) 75%,
          rgba(113, 58, 166, 0.8));
        color: #fff;

        &:before {
          content: 'Instagram';
          border-right: 1px solid #ffffff;
          padding: 0 8px 0 4px;
          margin-right: 8px;
        }
      }

      &.facebook {
        background: #1877F2;
        color: #fff;

        &:before {
          content: 'Facebook';
          border-right: 1px solid #ffffff;
          padding: 0 8px 0 4px;
          margin-right: 8px;
        }
      }
    }
  }
}
