/* You can add global styles to this file, and also import other style files */

@use 'app/header.scss';
@use 'app/app.component.scss';
@use 'app/footer.scss';
@use 'app/helper.scss';

body {
  margin: 0;
  color: #333333;

  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
}
